:root {
    --primary-color: #175596;
    --secondary-color: white;
    --accent1-color: #264653;
    --heading-font: "Times New Roman", "Georgia", sans-serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: flex;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 100;

}

header img {
    width: 100px;
    height: auto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
    display: block;
    padding: 1rem;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

section h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    text-align: center;
    font-family: var(--heading-font);
}

.socialmedia a {
    text-decoration: none;
}

footer img {
    width: 30px;
}

/* styling */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    color: white;
    background-color: #6aa7e984;
    text-align: center;
    padding: 1rem;
    position: absolute;
    top: 20px;
    width: 100%;
}

.hero article {
    background-color: #6aa7e984;
    color: antiquewhite;
    position: absolute;
    margin: 0 auto;
    top: 300px;
    width: 100%;
}

.hero article img {
    width: 125px;
    float: right;
    margin: 1rem;
}