
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Roboto:wght@400;500;900&display=swap');


body {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #f0f4f2;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #887057;
    color: #f0f4f2;
}

header {
    background-color: #285071;
    text-align: center;
}

nav a {
    color: #f0f4f2;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #f0f4f2;
    color: #285071;
}

.book, .join {
    background-color: #68523c;
    color: #f0f4f2;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    text-decoration: none;
    border-radius: 5px;
}

.book {
    text-align: center;
}
.book:hover, .join:hover {
    background-color: #f0f4f2;
    color: #68523c;
}

footer {
    background-color: #285071;
    color: #f0f4f2;
    margin-top: 200px;
    text-align: center;
}

footer > p > a{
    color: #f0f4f2;
    text-align: center;
    text-decoration: none;
    padding: 25px 50px;
}

footer img {
    padding: 30px;
}

footer > p> a:hover {
    background-color: #f0f4f2;
    color: #285071;
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}
.logo {
    width: 80px;
    padding-top: 10px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}



.msg {
    background-color: #887057;
    color: #f0f4f2;
    line-height: 1.5em;
    padding: 35px;
}


.home-title {
    font-family: Raleway, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

.msg p {
    padding-bottom: 15px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3
}