body {
  
}
#content {
  max-width: 1600px;
  display: block;
  margin: 0 auto;

}
nav {
  text-align: center;
  border: 2px solid blue;
  background-color: steelblue;
  padding: 10px;
}
a {
  font-size: 1.5em;
  color: white;
  margin: 40px;
  text-align: center;
}

a:hover {
  background-color: white;
  color: steelblue;
}
h1 {
  text-align: center;
  color: steelblue;
  margin: 10px 0;
}
img {
  width: 80%;
  display: block;
  margin: 0 auto;
  border: 4px solid steelblue;
}
main p{
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
p {
  border: solid blue;
  width: 80%;
  padding: 10px;
}
footer {
  text-align: center;
  background-color: steelblue;
  color: white;
padding: 5px;
}
.main-para{
  font-size: 1.5em;
  line-height: 1.5em;
}

#active {
  background-color: white;
  color: slateblue;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

.buttom-box {
  text-align: center;
}

main section {
  text-align: center;
}